<div class="meal">
  <img
    src="../../../assets/stanjpg.jpg"
    class="meal-img"
    alt="Japanese Gyozas"
  />
  <div class="meal-content">
    <ul class="meal-attributes">
      <li class="meal-attribute">
        <span
          >Sprat: <strong>{{ stan.sprat }}</strong></span
        >
      </li>
      <li class="meal-attribute">
        <span
          >Cena: <strong>{{ stan.cena }} €</strong></span
        >
      </li>
      <li class="meal-attribute">
        <span
          >Kvadratura: <strong>{{ stan.kvadratura }} m2</strong></span
        >
      </li>
    </ul>
    <br />
    <button
      type="submit"
      class="btn btn--form"
      routerLink="/prikazStana/{{ stan.idStan }}"
    >
      Detaljnije
    </button>
  </div>
</div>
