<section class="section-cta" id="cta">
  <div class="container">
    <div class="cta">
      <div class="cta-text-box">
        <h2 class="heading-secondary">Login</h2>

        <form class="cta-form" name="sign-up" netlify (ngSubmit)="login()">
          <div>
            <label for="username">Username</label>
            <input
              id="username"
              type="text"
              name="username"
              [(ngModel)]="username"
              required
            />
          </div>

          <div>
            <label for="password">Password</label>
            <input
              id="password"
              type="password"
              name="password"
              [(ngModel)]="password"
              required
            />
          </div>
          <button class="btn btn--form" type="Submit">Login</button>
        </form>
      </div>
      <div
        class="cta-img-box"
        role="img"
        aria-label="Woman enjoying food"
      ></div>
    </div>
  </div>
</section>
