<div class="search-section">
  <div class="search-box">
    <form #searchForm="ngForm" (ngSubmit)="pretragaStana(searchForm)">
      <input
        type="text"
        class="search-input"
        placeholder="Bečej, Novi Sad, ...."
        name="grad"
        ngModel
      />
      <button class="search-btn" type="submit">Search</button>
    </form>
  </div>
</div>
<section class="section-meals" id="meals">
  <div class="container grid grid--3-cols margin-bottom-md">
    <app-stan-item [stan]="stan" *ngFor="let stan of stanovi"></app-stan-item>
  </div>
  <div class="message" *ngIf="stanovi!.length == 0">
    <p>Ne postoji nijedan stan u tom gradu trenutno!</p>
  </div>
</section>
