<section class="section-meals" id="meals">
  <div class="container grid grid--3-cols margin-bottom-md">
    <div class="meal" *ngFor="let z of zgrade">
      <img
        src="../../../assets/slika_informacije2.jpg"
        class="meal-img"
        alt="Japanese Gyozas"
      />
      <div class="meal-content">
        <p class="meal-title">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 icon"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
            /></svg
          >{{ z.adresa }}
        </p>
        <ul class="meal-attributes">
          <li class="meal-attribute">
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                /></svg
              >Godina izgradnje: <strong>{{ z.godinaIzgradnje }}</strong></span
            >
          </li>
          <li class="meal-attribute">
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                /></svg
              >Grad: <strong>{{ z.grad }}</strong></span
            >
          </li>
        </ul>
        <br />
        <button
          type="submit"
          class="btn btn--form"
          routerLink="/stanoviZgrade/{{ z.idZgrada }}"
        >
          Stanovi
        </button>
      </div>
    </div>
  </div>
  <br />
</section>
