.section-how {
  padding: 9.6rem 0;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 500;
  text-align: justify;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 60%;

  background-color: #e3fafc;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #c5f6fa;
  z-index: -1;
}

.step-img {
  height: fit-content;
  width: 400px;
  /* z-index: 10; */
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 12.6rem;
  justify-content: center;
  align-items: center;
}

.heading-secondary {
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
  margin-left: 500px;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
